.logo {
  height: 12vmin;
  align-content: center;
  float: left; 
}

.tbh {
  margin-left: 20px;
}

.header {
  color: white;
  font-size: 50px;
  background-color: black;
  display: flex; 
  align-items: center; 
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: left;
  height: 25px;
}
